@page "/streamingservices/shows/{Id:int}"

@using Blazorise
@using Household.SharedComponents.Components.Shared
@using Household.SharedComponents.Components.Shared.Loader
@using Household.Shared.Helpers

<PageTitle>Shows on @_serviceName</PageTitle>

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="mb-3">
    <h2 class="h2 mb-2 fw-semibold">Shows on @_serviceName</h2>
    <p class="text-muted small"></p>
@if (PageHistoryState.CanGoBack())
{
    <p class="text-start"><a href="@PageHistoryState.GetGoBackPage()">Go Back</a></p>
}
</div>

<Loading @ref="_loadingIndicator" />

<section id="dailyShows">
@if (_allShows.Count > 0)
{
    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <Tab Name="ShowsToWatch"><div class="col-md-12"><b>Shows to watch</b></div></Tab>
            <Tab Name="SeasonOver"><div class="col-md-12"><b>Season finale</b></div></Tab>
            <Tab Name="CompletedShows"><div class="col-md-12"><b>Series finale</b></div></Tab>
        </Items>
        <Content>
            <TabPanel Name="ShowsToWatch">
                <TvShowsList TvShowCategory="_activeDailyShows" LinkDisabled="@_disable" ShowInformation="@_activeShowInformation" />
            </TabPanel>
            <TabPanel Name="SeasonOver">
                <TvShowsList TvShowCategory="_inactiveDailyShows" LinkDisabled="@_disable" />
            </TabPanel>
            <TabPanel Name="CompletedShows">
                <TvShowsList TvShowCategory="_overShows" LinkDisabled="@_disable" />
            </TabPanel>
        </Content>
    </Tabs>
}
else
{
    <p><em>@_noneToday</em></p>
}
</section>
